<h1>Movies#index</h1>

<% @movies.each do |movie| %>
  <div>
    <%= movie.title %>
    <%= image_tag "http://image.tmdb.org/t/p/w185//#{movie.poster_path}" %>
    <%= movie.overview %>
    <%= movie.release_date %>
    <!-- <%= image_tag "http://image.tmdb.org/t/p/w185//#{movie.backdrop_path}" %> -->
  </div>
<% end %>

<!-- http://image.tmdb.org/t/p/w185//5JU9ytZJyR3zmClGmVm9q4Geqbd.jpg -->