<h1 class="non-card-text">Movies Home</h1>
<p class="non-card-text">This is a collection of the top rated recent movies that are either currently available or in theaters. This list is updated daily by TheMovieDB.com. You can also search for any movie <%= link_to "here", pages_search_path %> to get a short overview of the film.</p>

<div class="card-columns">
  <% @movies.each do |movie| %>
    <div class="movie-card card">

      <div class="card-header">
        <h5><%= movie.title %></h5>
      </div>
      <%= image_tag "http://image.tmdb.org/t/p/w185//#{movie.poster_path}", class: 'card-img card-img-top img-fluid', alt: 'Card image cap' %>
      <h6 class="small">Overview</h6>
      <p class="card-text"><%= movie.overview %></p>
      <h6 class="small">Release Date</h6>
      <p class="card-text"><%= movie.release_date %></p>
    </div>
  <% end %>
</div>